name: App CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: {}

env:
  AWS_REGION: ca-central-1
  APP_NAME: allen-capstone

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & push backend image
        run: |
          BACKEND_REPO=${{ steps.login-ecr.outputs.registry }}/${APP_NAME}-backend
          docker build -t $BACKEND_REPO:latest ./backend
          docker push $BACKEND_REPO:latest
          echo "BACKEND_IMAGE=$BACKEND_REPO:latest" >> $GITHUB_ENV

      - name: Build & push frontend image
        run: |
          FRONTEND_REPO=${{ steps.login-ecr.outputs.registry }}/${APP_NAME}-frontend
          docker build -t $FRONTEND_REPO:latest ./frontend
          docker push $FRONTEND_REPO:latest
          echo "FRONTEND_IMAGE=$FRONTEND_REPO:latest" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.0

      - name: Terraform Init
        working-directory: infra
        run: terraform init -input=false

      - name: Terraform Apply
        working-directory: infra
        env:
          TF_VAR_frontend_image: ${{ env.FRONTEND_IMAGE }}
          TF_VAR_backend_image:  ${{ env.BACKEND_IMAGE }}
        run: terraform apply -auto-approve -input=false